[submodule "custodian-service"]
	path = custodian-service
	url = https://github.com/dnlwrthstr/custodian-service.git
[submodule "frontend"]
	path = frontend
	url = https://github.com/dnlwrthstr/frontend
[submodule "search-service"]
	path = search-service
	url = https://github.com/dnlwrthstr/search-service.git
