[submodule "custodian-service"]
	path = custodian-service
	url = https://github.com/dnlwrthstr/custodian-service.git
[submodule "frontend"]
	path = frontend
	url = https://github.com/dnlwrthstr/frontend
[submodule "search-service"]
	path = search-service
	url = ./search-service
[submodule "load-custodian-service"]
	path = load-custodian-service
	url = ./load-custodian-service
[submodule "load-portfolio-service"]
	path = load-portfolio-service
	url = ./load-portfolio-service
[submodule "load-position-service"]
	path = load-position-service
	url = ./load-position-service
